@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
	margin: 0px;
	padding: 0px;
	background-color: #ffffff;
	font-family: 'Bebas Neue', 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	outline: none;
	border: none;
}

input {
	outline: none;
	border: none;
}

.logo img {
	width: 120px;
}

#App-header {
	width: 100%;
	height: 768px;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('./img/banner.png');
}

.header {
	font-family: 'Montserrat';
	width: 900px;
	position: absolute;
	left: 25%;
	top: 55%;
	text-align: left;
	transform: translate(-25%, -55%);
}

.header span {
	font-family: 'Alfa Slab One';
	color: #d61212;
	border-bottom: 2px solid #442916;
}

.header .detail {
	font-size: 23px;
	color: #181818;
}

.header h3 {
	font-family: 'Bebas Neue';
	font-size: 1.6rem;
	margin: 0px;
	letter-spacing: 2px;
	color: #442916;
}

.header h1 {
	font-family: 'Alfa Slab One';
	font-size: 4rem;
	margin: 0px;
	letter-spacing: 2px;
	color: #3f2615;
}


#contact form {
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

#contact form input {
	width: 100%;
	height: 50px;
	margin: 5px 0px;
	padding: 10px;
	border: none;
	outline: none;
	background-color: transparent;
	color: #ffffff;
	border-radius: 5px;
}

#contact form ::placeholder {
	color: #ffffff
}

#contact form input[type="submit"] {
	height: 45px;
	background: linear-gradient(90deg, #d61212 20%, #d61212);
	color: #ffffff;
	text-transform: uppercase;
}


#products {
	width: 100%;
	box-sizing: border-box;
	font-family: 'Lato';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
}

#products h1 {
	font-family: 'Alfa Slab One';
	letter-spacing: 2px;
	color: #442916;
	font-size: 3rem;
}

.a-container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.a-box {
	background-color: #ffffff;
	width: 300px;
	height: 435px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.4s ease-in-out;
	position: relative;
}

.a-b-img {
	width: 100%;
	height: 60%;
}

.a-b-img img {
	padding: 10px;
	width: 100%;
	height: 100%;
}

.a-box:hover {
	box-shadow: 2px 2px 12px rgba(184, 98, 0, 0.445);
}

.a-b-text {
	width: 100%;
	height: 40%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.a-b-text h2 {
	color: #442916;
}

.productbox-price {
	width: 120px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Lato';
	background-color: #d61212;
	box-shadow: 5px 10px 30px rgba(255, 103, 2, 0.336);
	border-radius: 5px;
	color: #ffffff;
}
